<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Devices
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div style="width: 100%; display: flex; align-items: center; justify-content: center; margin-top: 50px " *ngIf="state == 'loading'">
    <ion-spinner></ion-spinner>
  </div>

  <ion-card *ngIf="state == 'empty'">
    <ion-card-content>
      There is no device
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="state == 'error'">
    <ion-card-header>
      Error
    </ion-card-header>
    <ion-card-content>
      {{error}}
    </ion-card-content>
  </ion-card>

  <ion-list *ngFor="let device of overviewData">
    <ion-item style="text-align: center;">
      <h1>{{device.name}}</h1>
      <p>{{formattedTimestamp[device.name]}}</p>
    </ion-item>
    <button ion-item detail-push (click)="goto(device, values)" *ngFor="let values of device.values">
      <ion-icon item-start [color]="values.measurement | color" [name]="values.measurement | icon"></ion-icon>
      <ion-card-header>
        {{values.measurement | niceName}} <h1>{{values.value.toFixed(1)}}{{values.measurement | unit}}</h1>
      </ion-card-header>
    </button>
  </ion-list>

</ion-content>
