<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Devices
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let device of overviewData">
    <ion-item style="text-align: center;">
      <h1>{{device.name}}</h1>
      <p>{{device.timestamp.toLocaleString()}}</p>
    </ion-item>
    <button ion-item (click)="goto(device, values)" *ngFor="let values of device.values">
      <ion-icon item-start [color]="getColor(values.measurement)" [name]="getIcon(values.measurement)"></ion-icon>
      <ion-card-header>
        {{values.measurement}} <h1>{{values.value.toFixed(1)}}{{getUnit(values.measurement)}}</h1>
      </ion-card-header>
    </button>
  </ion-card>

</ion-content>
