<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{measurement | niceName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Time span</ion-label>
    <ion-select [(ngModel)]="timespan" (ngModelChange)="onTimespanChange($event)">
      <ion-option [value]="tenMinutes">Last 10 minutes</ion-option>
      <ion-option [value]="hour">Last hour</ion-option>
      <ion-option [value]="sixHours">Last 6 hours</ion-option>
      <ion-option [value]="day">Last 24 hours</ion-option>
      <ion-option [value]="week">Last week</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Measurement</ion-label>
    <ion-select [(ngModel)]="measurement" (ngModelChange)="onMeasurementChange($event)">
      <ion-option *ngFor="let availableMeasurement of availableMeasurements" [value]="availableMeasurement">{{availableMeasurement | niceName}}</ion-option>
    </ion-select>
  </ion-item>

  <div *ngIf="dataset.data" style="display: block; margin-top: 20px">
    <canvas baseChart width="400" height="400"
                [datasets]="dataset.data"
                [labels]="dataset.labels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="false"
                chartType="line">
    </canvas>
  </div>

</ion-content>
